.container {
    display: flex;
    margin: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.leftBar {
    width: 250px;
    padding: 20px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.profileImage {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    // overflow: hidden;
    // margin-bottom: 20px;
    background: linear-gradient(#743ad5, #d53a9d);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex; 
    align-items: center;
    justify-content: center;
}

// .profileImage img {
//     width: 100%;
//     height: 100%;
//     background-image: linear-gradient(#743ad5, #d53a9d), radial-gradient(circle at top left, #f00, #3020ff);
//     background-origin: border-box;
//     border-radius: 50%; 
// }
// .profileImage {
//     width: 110px; /* Increase width to account for border */
//     height: 110px; /* Increase height to account for border */
//     border-radius: 50%;
//     padding: 5px; /* Padding to create space for the border */
//     background: linear-gradient(#743ad5, #d53a9d); /* Gradient border */
//     margin-bottom: 20px;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
// }

.profileImage img {
    width: 93%;
    height: 93%;
    border-radius: 50%;
    display: block;
}


.name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.editProfile, .studentDetails {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.editProfile:hover {
    background-color:  #ffe0b2; 
}

.studentDetails:hover {
    background-color: #ffe0b2; 
}

.rightBar {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
    color: #333;
}

/* Media Queries for mobile view */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 10px; /* Reduce margin for mobile */
    }

    .leftBar {
        width: 100%; /* Full width for left bar on mobile */
        border-right: none; /* Remove right border */
        border-bottom: 1px solid #ddd; /* Optional border for separation */
    }

    .rightBar {
        width: 100%; /* Full width for right bar on mobile */
    }

    .profileImage {
        width: 80px; /* Adjust size for mobile */
        height: 80px; /* Adjust size for mobile */
    }

    .name {
        font-size: 18px; /* Slightly smaller font size for mobile */
    }
}
