.containert {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
    
}

.privacyt {
    font-weight:bolder;
    flex-direction: column;
    padding: 30px;
    color: #ff6a00;
    text-shadow: 3px 3px rgb(255, 255, 255);
    text-indent:  40px;
    
}

.h3divt{
    text-align: left;
    color:#ff6a00;
    text-decoration:  underline;
}
.termparadiv{
    color: rgb(0, 0, 0);
    font-weight: 750;
}
.paradivt{
    text-align: left;
    color: rgb(81, 77, 77);
    border: 1px solid rgb(81, 77, 77);
    padding: 1rem;
    
}
.paradivt:hover{
    box-shadow: 1px 1px 5px rgb(81, 77, 77);

}