.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  gap: 1.5rem;
  height: 100vh; 
  background-color: #121212; 
  color: #ffffff;
  text-align: center;
}

.linkBox {
  position: relative;
  background-color: #1e1e1e;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 0 8px 30px rgba(100, 108, 255, 0.5); 
  }
}

.link {
  color: #646cff;
  text-decoration: none;
  font-size: 24px; 
  margin: 20px 0;
  display: block;
  border: 2px solid #da933c; 
  padding: 1.5rem;
  border-radius: 2rem;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  &:hover {
    color: orange;
    filter: drop-shadow(0 0 2em #646cffaa);
    box-shadow: 0 0 10px #f2a54e; 
    border-color: #646cffaa; 
  }
}

/* Separate classes for animations */
.frontendAnimation {
  animation: blinkColour1 1s infinite;
}

.backendAnimation {
  animation: blinkColour2 1s infinite;
}

@keyframes blinkColour1 {
  0%, 100% { color: #646cff; border-color: #f2a54e; }
  50% { color: #f2a54e; border-color: #646cff; }
}

@keyframes blinkColour2 {
  0%, 100% { color: #f2a54e; border-color: #646cff; }
  50% { color: #646cff; border-color: #f2a54e; }
}
