.totalCount{
    padding: 10px 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ff6a00;
    background-color: #dfdfdf4f;
    border-radius: 20px;
    width: fit-content;

    strong{
        color: #000;
    }

    p{
        font-size: 15px;
        font-weight: bold;
        color: #ff6a00;
    }
}

.classTable {
    margin-bottom: 20px;
    padding: 20px;
    overflow: auto;
    
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            
        }

        th {
            background-color: #ff8c19; 
            color: white; 
            font-weight: bold;
        }
        td a {
            color: #ff8c19; 
            text-decoration: none;
            font-weight: bold;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    }
    #action{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        width: 100%;
    }
}

.actionButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 8px; // Space between icons
    transition: color 0.3s ease;

    &:hover {
        color: #007BFF; // Change color on hover
    }
}

.submitButton{
    background-color: #ff8c19;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;

    &:hover {
        background-color: #ff6a00;
    }
}

.rankInput{
    width: 50px;
    padding: 5px;
    margin-right: 10px;
}


//hidden now when application is ongoing to avoid accidental deletion
// .action{
//     visibility: hidden;
// }
//change after aplication is over
.toggleContainer{
    display: flex;
    background-color: #dfdfdf4f;
    border: 1px solid #ff6a00;
    border-radius: 20px;
    padding: 10px 20px 3px 20px;
    width: fit-content;
    margin-top: -20px;
    margin-bottom: 10px;

    input[type="checkbox"] {
        margin: 5px 8px;
        height: min-content;
        width: min-content;
       
    }
}
.actionButtonDelete{
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 8px; // Space between icons
    transition: color 0.3s ease;

    &:hover {
        color: #ed2038; // Change color on hover
    }
}


.dropdownContainer {
    margin: 20px;
    display: flex;
    align-items: center;
}

.dropdown {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.viewDetailsButton{
    background-color: #ff8c19;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #ff6a00;
    }
}

// .action{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     width: 100%;
// }

.actionButton{
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    color: #007BFF;
}

.actionButtonDelete{
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    color: #ed2038;
}
.actionButtonEdit{
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    color: #28a745;
}