.ageCriteriaContainer {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .ageCriteriaTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
  
    th, td {
      border: 1px solid #ddd;
      padding: 12px;
      text-align: center;

    width: 50%;
    //   &:nth-child(even) {
    //     background-color: #f2f2f2;
    //   }
    }
  
    th {
      background-color: #4CAF50;
      color: white;
    }
  }
  