.aboutCardSkeleton {
    display: flex;
    align-items: center;
    border: 1px solid #ff8c19;
    padding: 16px;
    border-radius: 8px;
    margin: 30px;
    background-color: #dfdfdf4f;
    gap: 20px;
  
    &:hover {
      box-shadow: none; // No hover effect for skeletons
    }
  
    &.odd {
      flex-direction: row;
    }
  
    &.even {
      flex-direction: row-reverse;
    }
  
    .skeletonImgDiv {
      width: 40%;
      height: 250px;
      background-color: #e0e0e0;
      border-radius: 4px;
    }
  
    .skeletonContent {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      width: 70%;
      gap: 10px;
  
      .skeletonTitle,
      .skeletonText,
      .skeletonButton {
        background-color: #e0e0e0;
        border-radius: 4px;
        animation: shimmer 1.5s infinite linear;
      }
  
      .skeletonTitle {
        width: 50%;
        height: 20px;
      }
  
      .skeletonText {
        width: 100%;
        height: 15px;
  
        &.short {
          width: 70%;
        }
      }
  
      .skeletonButton {
        width: 30%;
        height: 35px;
      }
    }
  }
  
  // Responsive Design
  @media (max-width: 768px) {
    .aboutCardSkeleton {
      flex-direction: column;
  
      .skeletonImgDiv {
        width: 100%;
      }
    }
  }
  
  // Shimmer Effect
  @keyframes shimmer {
    0% {
      background-color: #e0e0e0;
    }
    50% {
      background-color: #f0f0f0;
    }
    100% {
      background-color: #e0e0e0;
    }
  }
  